- var user = typeof(udata) != 'undefined' ? udata : { }
.modal-alert.modal.fade(tabindex='-1', role='dialog', aria-labelledby='search', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                h4.modal-title Search results
            .modal-body
            .modal-footer
                button.btn.btn-warning(type='button', data-dismiss='modal') OK

